@model TheDynamicKarateCupV2.Models.Competitor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.CompetitorFirstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitorFirstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompetitorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disciplines)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disciplines)
        </dd>
        
        
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-controller="Competitors" asp-route-id="@Model.CompetitorID">Edit</a> |
    <a asp-action="Index" asp-controller="Competitors" asp-route-clubID="@Model.ClubID">Back to List</a>
</p>
