@model TheDynamicKarateCupV2.ViewModels.Competitors.CompetitorsClubIDViewModel

@{bool swFirst = true; }

@{
    ViewData["Title"] = "Index";
}

<p>
    @Html.ActionLink("Create new", "Create", "Competitors", new { clubID = Model.ClubID }, new { @class = "btn btn-primary btn-lg" })
</p>
    
    <table class="table">
    @foreach (var item in Model.Competitors)
    {
        @if (swFirst == true)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => item.AgeCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.CompetitorFirstname)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.CompetitorName)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.LicenseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Sex)
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorFirstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td></td>
            </tr>
            { swFirst = false; }
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorFirstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                   <a asp-action="Edit" asp-route-id="@item.CompetitorID">Edit</a> |
                   <a asp-action="Details" asp-route-id="@item.CompetitorID">Details</a> |
                   <a asp-action="Delete" asp-route-id="@item.CompetitorID">Delete</a>
                </td>
                </tr>
          }
    }
</table>
