@model TheDynamicKarateCupV2.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleCellullar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleCellullar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleName)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ClubID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
