@model IEnumerable<TheDynamicKarateCupV2.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoachFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachFirstNameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachName)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoachFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoachFirstNameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoachName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CoachID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CoachID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CoachID">Delete</a>
        </td>
    </tr>
}
</table>
